#mailbox, #mailbox tr{
    padding: 0px;
    margin: 0px;
    border-collapse: collapse;
    width: 100%;
}

#mailbox tr{
    border-top: 1px solid #A9D0F5;
    color: #1C1C1C;
}

#mailbox tr:last-child{
    border-bottom: 1px solid #A9D0F5;
}

#mailbox tr td{
    padding: 7px;
    height: 25px;
}

#mailbox .unread{
    font-weight: bold;
}

#mailbox .message-from, #mailbox .message-timestamp{
    width: 25%;
}

#mailbox .message-content{
    width: 50%;
}

#mailbox .message-timestamp{
    text-align: right;
}

#mailbox tr:hover{
    cursor: pointer;
}

#mailbox .message-head{
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 10px;
}

#newmessages{
    float: right;
    font-size: 14px;
    color: #007DBB;
    cursor: pointer;
    padding-top: 12px;
}

#showing{
    float: left;
}

#pagination{
    float: right;
}

#pagination .btn{
    padding: 5px 10px;
    margin: 2px 0;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #92E0FE;
    color: #379CFD;
    background-color: white;
}

#pagination .btn.current{
    background-color: #92CBFF;
    border: 1px solid #5EB2FF;
    color: white;
}

#pagination .btn:hover{
    background-color: #92CBFF;
    border: 1px solid #49AAEF;
    color: #003E6A;
}

#pagination .btn.disabled, #pagination .btn.disabled:hover{
    color: #BCBCBC;
    border-color: #D7D7D7;
    background-color: white;
    cursor: default;
}