body{
    background-color: #FFF;
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

html{
    height: 100%;
}

.clear{
    clear: both;
}

.wrapper{
    width: 980px;
    margin: auto;
}

#header{
    width: 100%;
    height: 150px;
    background: #A9BCF5 url('../images/backdrop.png') repeat center center;
    border-bottom: 2px solid #045FB4;
    padding-bottom: 2px;
}

nav ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    background-color: #CEE3F6;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
    border: 2px solid #045FB4;
    border-bottom: 0px;
    overflow: hidden;
    margin-top: 12px;
}

a:link,a:active,a:visited{
    text-decoration: none;
    color: #2E9AFE;
}

a:hover{
    color: #08088A;
}

nav ul li{
    padding: 0px;
    margin: 0px;
    float: left;
    text-align: center;
    border-left: 1px solid #045FB4;
}

nav ul li:hover{
    background-color: #A9E2F3;
}

nav ul li.first{
    border-left: 0px;
}

nav ul li.last{
    border-right: 1px solid #045FB4;
}

nav ul li.right{
    float: right;
    border-left: 0px;
    border-right: 1px solid #045FB4;    
}

nav ul li.right.first{
    border-left: 1px solid #045FB4;    
}

nav ul li.right.last{
    border-left: 0px;
    border-right: 0px;
}

nav ul li a{
    padding: 10px;
    margin: 10px;
    padding-top: 20px;
}

.logo{
    margin-top: 15px;
}

#content{
    padding-bottom: 80px;
    clear: both;
}

#container{
    height: 100%;
}

#footer{
    text-align: center;
    background: rgb(7, 157, 207) url("../images/backdrop.png") repeat fixed center;
    border-top: 1px solid #0B0B3B;
    clear: both;
    font-size: .8em;
    width: 100%;
    position: fixed;
    bottom: 0px;
    height: 20px;
    z-index: 1000;
    padding-top: 5px;
}

p.alert{
    padding: 8px;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
}

p.alert.error{
    background-color: #F6CECE;
    border: 1px solid #8A0808;
}

p.alert.warning{
    background-color: #F3E2A9;
    border: 1px solid #B45F04;
}

p.alert.success{
    background-color: #BCF5A9;
    border: 1px solid #298A08;
}

.post>.post-title{
    font-size: 2em;
}

.post>.post-content{
    text-align: justify;
}

.post{
    margin-top: 20px;
}

.message{
    border-radius: 5px;
    background-color: #CEECF5;
    padding: 5px;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #81DAF5;
}

.message>.message-header{
    padding: 0;
    margin: 0;
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 5px;
    position: relative;
    height: 30px;
}

.message>.message-header>.from{
    font-size: 1.5em;
    position: absolute;
    top: -5px;
}

.message>.message-header>.timestamp{
    font-size: 0.9em;
    color: #848484;
    position: absolute;
    left: 0px;
    bottom: -1px;
}

.message>.message-header>.buttons{
    position: absolute;
    right: -5px;
    top: -5px;
    height: 25px;
    padding: 3px;
    padding-bottom: 0px;
    border-bottom-left-radius: 5px;
    border: 1px solid #81DAF5;
    border-right: 0px;
    border-top: 0px;
}

.message:hover .message-header>.buttons{
    background-color: #A9E2F3;
}

.message>.message-header>.buttons:hover{
    background-color: #81BEF7;
}

.message>.content{
    padding-right: 5px;
    float: left;
    height: 100%;
    width: 100%;
}

.message>.content>.attachments{
    float: right;
    border-radius: 5px;
    border-left: 2px solid #E6E6E6;
    border-top: 2px solid #E6E6E6;
    border-right: 2px solid #424242;
    border-bottom: 2px solid #424242;
    background-color: #D8D8D8;
    margin: 5px;
    margin-left: 10px;
    padding: 6px;
    max-width: 152px;
}

.attachments>.attachment{
    float: left;
}

.login.col-left{
    width: 30%;
    float: left;
}

.login.col-right{
    width: 60%;
    float: right;
}

input{
    background: white;
    border: 1px solid #007DBB;
    border-radius: 4px;
    padding: 5px;
    margin: 2px;
    width: 278px;
    background-color: #F5FDFF;
}

input[type=submit]{
    width: 100px;
    float: right;
    margin-top: 10px;
    background-color: #D9F3FF;
}

input[type=submit]:hover{
    background-color: #9CDFFF;
    cursor: pointer;
}

.registercode{
    text-align: center;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #007DBB;
    background-color: #ADE5FF;
    font-size: 24px;
}

.mcservers{
    display: table;
    margin: auto;
    margin-top: 10px;
    width: 890px;
}

.server{
    width: 264px;
    height: 64px;
    padding: 10px;
    margin: 5px;
    border-radius: 2px;
    float: left;
    border: 1px solid #007DBB;
    background-color: #DBF3FF;
}

.server .loading{
    width: 64px;
    height: 64px;
    background: url('../images/loading.png');
    background-size: 64px 64px;
    margin: auto;
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.server img{
    width: 64px;
    height: 64px;
    float: left;
}

.server .info{
    float: right;
    width: 190px;
}

.server .info .name{
    font-weight: bold;
}

.aboutbox{
    float: left;
    margin: 5px;
    width: 223px;
    height: 210px;
    padding: 5px;
    border: 1px solid #007DBB;
    border-radius: 4px;
}

.aboutbox a{
    float: right;
    margin-right: 10px;
}

.aboutbox .aboutheader{
    font-size: 18px;
    font-weight: bold;
}

.aboutbox .aboutcontent{
    padding: 5px;
    margin: 0;
}

.aboutbox img{
    width: 220px;
    height: 100px;
    margin: 5px auto;
    border: 1px solid #008DD3;
}

.aboutbox.current{
    background-color: #CEEEFC;
}

.aboutbox:hover{
    cursor: pointer;
    background-color: #E9F8FF;
}
