body{
    background-color: #FFF;
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

html{
    height: 100%;
}

.clear{
    clear: both;
}

.wrapper{
    width: 980px;
    margin: auto;
}

#header{
    width: 100%;
    height: 150px;
    background-color: #3498db;
    border-bottom: 2px solid #045FB4;
}

nav ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    background-color: #CEE3F6;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
    border: 2px solid #045FB4;
    border-bottom: 0px;
    overflow: hidden;
    margin-top: 12px;
}

a:link,a:active,a:visited{
    text-decoration: none;
    color: #2E9AFE;
}

a:hover{
    color: #08088A;
}

nav ul li{
    padding: 0px;
    margin: 0px;
    float: left;
    text-align: center;
    border-left: 1px solid #045FB4;
}

nav ul li:hover{
    background-color: #A9E2F3;
}

nav ul li.first{
    border-left: 0px;
}

nav ul li.last{
    border-right: 1px solid #045FB4;
}

nav ul li.right{
    float: right;
    border-left: 0px;
    border-right: 1px solid #045FB4;    
}

nav ul li.right.first{
    border-left: 1px solid #045FB4;    
}

nav ul li.right.last{
    border-left: 0px;
    border-right: 0px;
}

nav ul li a{
    padding: 10px;
    margin: 10px;
    padding-top: 20px;
}

.logo{
    margin-top: 15px;
}

#content{
    padding-bottom: 80px;
    clear: both;
}

#container{
    height: 100%;
}

#footer{
    text-align: center;
    background-color: #eee;
    border-top: 1px solid #aaa;
    clear: both;
    font-size: .8em;
    width: 100%;
    position: fixed;
    bottom: 0px;
    height: 20px;
    z-index: 1000;
    padding-top: 5px;
}

p.alert{
    padding: 8px;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
}

p.alert.error{
    background-color: #F6CECE;
    border: 1px solid #8A0808;
}

p.alert.warning{
    background-color: #F3E2A9;
    border: 1px solid #B45F04;
}

p.alert.success{
    background-color: #BCF5A9;
    border: 1px solid #298A08;
}

.post>.post-title{
    font-size: 2em;
}

.post>.post-content{
    text-align: justify;
}

.post{
    margin-top: 20px;
}

.message{
    border-radius: 5px;
    background-color: #CEECF5;
    padding: 5px;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #81DAF5;
}

.message>.message-header{
    padding: 0;
    margin: 0;
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 5px;
    position: relative;
    height: 30px;
}

.message>.message-header>.from{
    font-size: 1.5em;
    position: absolute;
    top: -5px;
}

.message>.message-header>.timestamp{
    font-size: 0.9em;
    color: #848484;
    position: absolute;
    left: 0px;
    bottom: -1px;
}

.message>.message-header>.buttons{
    position: absolute;
    right: -5px;
    top: -5px;
    height: 25px;
    padding: 3px;
    padding-bottom: 0px;
    border-bottom-left-radius: 5px;
    border: 1px solid #81DAF5;
    border-right: 0px;
    border-top: 0px;
}

.message:hover .message-header>.buttons{
    background-color: #A9E2F3;
}

.message>.message-header>.buttons:hover{
    background-color: #81BEF7;
}

.message>.content{
    padding-right: 5px;
    float: left;
    height: 100%;
    width: 100%;
}

.message>.content>.attachments{
    float: right;
    border-radius: 5px;
    border-left: 2px solid #E6E6E6;
    border-top: 2px solid #E6E6E6;
    border-right: 2px solid #424242;
    border-bottom: 2px solid #424242;
    background-color: #D8D8D8;
    margin: 5px;
    margin-left: 10px;
    padding: 6px;
    max-width: 152px;
}

.attachments>.attachment{
    float: left;
}

.login.col-left{
    width: 30%;
    float: left;
}

.login.col-right{
    width: 60%;
    float: right;
}

input, textarea{
    padding: 5px;
    margin: 2px;
    width: 278px;
    background-color: #F5FDFF;
    font-family: inherit;
    font-size: inherit;
    background-color: #FFF;
    border: 1px solid #CCC;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
}

input[type=text]:focus, textarea:focus, input[type=password]:focus{
    border-color: rgba(52, 152, 219, 0.8);
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

input[type=submit]{
    width: 100px;
    float: right;
    margin-top: 10px;
    border: none;
    box-shadow: none;
}

input[type=submit]:hover{
    cursor: pointer;
}

.contact{
    height: 150px;
}

.registercode{
    text-align: center;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #007DBB;
    background-color: #ADE5FF;
    font-size: 24px;
}

.mcservers{
    display: table;
    margin: auto;
    margin-top: 10px;
    width: 890px;
}

.server{
    width: 264px;
    height: 64px;
    padding: 10px;
    margin: 5px;
    border-radius: 2px;
    float: left;
    border: 1px solid #007DBB;
    background-color: #DBF3FF;
}

.loading{
    width: 64px;
    height: 64px;
    background: url('../images/loading.png');
    background-size: 64px 64px;
    margin: auto;
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.loading-row{
    text-align: center;
}

.server img{
    width: 64px;
    height: 64px;
    float: left;
}

.server .info{
    float: right;
    width: 190px;
}

.server .info .name{
    font-weight: bold;
}

.aboutbox{
    float: left;
    margin: 5px;
    width: 223px;
    height: 210px;
    padding: 6px;
    background-color: #eee;
}

.aboutbox a{
    float: right;
    margin-right: 10px;
}

.aboutbox .aboutheader{
    font-size: 18px;
    font-weight: bold;
}

.aboutbox .aboutcontent{
    padding: 5px;
    margin: 0;
}

.aboutbox img{
    width: 220px;
    height: 100px;
    margin: 5px auto;
}

.aboutbox.current{
    background-color: #3498DB;
    color: #fff !important;
}

.aboutbox.current a {
    visibility: hidden;
}

.aboutbox:hover{
    cursor: pointer;
}
/* Begin buttons lib */
@-webkit-keyframes glowing{from{-webkit-box-shadow:0 0 0 rgba(44,154,219,.3),0 1px 2px rgba(0,0,0,.2);-moz-box-shadow:0 0 0 rgba(44,154,219,.3),0 1px 2px rgba(0,0,0,.2);box-shadow:0 0 0 rgba(44,154,219,.3),0 1px 2px rgba(0,0,0,.2)}50%{-webkit-box-shadow:0 0 16px rgba(44,154,219,.8),0 1px 2px rgba(0,0,0,.2);-moz-box-shadow:0 0 16px rgba(44,154,219,.8),0 1px 2px rgba(0,0,0,.2);box-shadow:0 0 16px rgba(44,154,219,.8),0 1px 2px rgba(0,0,0,.2)}to{-webkit-box-shadow:0 0 0 rgba(44,154,219,.3),0 1px 2px rgba(0,0,0,.2);-moz-box-shadow:0 0 0 rgba(44,154,219,.3),0 1px 2px rgba(0,0,0,.2);box-shadow:0 0 0 rgba(44,154,219,.3),0 1px 2px rgba(0,0,0,.2)}}@-moz-keyframes glowing{from{-webkit-box-shadow:0 0 0 rgba(44,154,219,.3),0 1px 2px rgba(0,0,0,.2);-moz-box-shadow:0 0 0 rgba(44,154,219,.3),0 1px 2px rgba(0,0,0,.2);box-shadow:0 0 0 rgba(44,154,219,.3),0 1px 2px rgba(0,0,0,.2)}50%{-webkit-box-shadow:0 0 16px rgba(44,154,219,.8),0 1px 2px rgba(0,0,0,.2);-moz-box-shadow:0 0 16px rgba(44,154,219,.8),0 1px 2px rgba(0,0,0,.2);box-shadow:0 0 16px rgba(44,154,219,.8),0 1px 2px rgba(0,0,0,.2)}to{-webkit-box-shadow:0 0 0 rgba(44,154,219,.3),0 1px 2px rgba(0,0,0,.2);-moz-box-shadow:0 0 0 rgba(44,154,219,.3),0 1px 2px rgba(0,0,0,.2);box-shadow:0 0 0 rgba(44,154,219,.3),0 1px 2px rgba(0,0,0,.2)}}@-o-keyframes glowing{from{-webkit-box-shadow:0 0 0 rgba(44,154,219,.3),0 1px 2px rgba(0,0,0,.2);-moz-box-shadow:0 0 0 rgba(44,154,219,.3),0 1px 2px rgba(0,0,0,.2);box-shadow:0 0 0 rgba(44,154,219,.3),0 1px 2px rgba(0,0,0,.2)}50%{-webkit-box-shadow:0 0 16px rgba(44,154,219,.8),0 1px 2px rgba(0,0,0,.2);-moz-box-shadow:0 0 16px rgba(44,154,219,.8),0 1px 2px rgba(0,0,0,.2);box-shadow:0 0 16px rgba(44,154,219,.8),0 1px 2px rgba(0,0,0,.2)}to{-webkit-box-shadow:0 0 0 rgba(44,154,219,.3),0 1px 2px rgba(0,0,0,.2);-moz-box-shadow:0 0 0 rgba(44,154,219,.3),0 1px 2px rgba(0,0,0,.2);box-shadow:0 0 0 rgba(44,154,219,.3),0 1px 2px rgba(0,0,0,.2)}}@keyframes glowing{from{-webkit-box-shadow:0 0 0 rgba(44,154,219,.3),0 1px 2px rgba(0,0,0,.2);-moz-box-shadow:0 0 0 rgba(44,154,219,.3),0 1px 2px rgba(0,0,0,.2);box-shadow:0 0 0 rgba(44,154,219,.3),0 1px 2px rgba(0,0,0,.2)}50%{-webkit-box-shadow:0 0 16px rgba(44,154,219,.8),0 1px 2px rgba(0,0,0,.2);-moz-box-shadow:0 0 16px rgba(44,154,219,.8),0 1px 2px rgba(0,0,0,.2);box-shadow:0 0 16px rgba(44,154,219,.8),0 1px 2px rgba(0,0,0,.2)}to{-webkit-box-shadow:0 0 0 rgba(44,154,219,.3),0 1px 2px rgba(0,0,0,.2);-moz-box-shadow:0 0 0 rgba(44,154,219,.3),0 1px 2px rgba(0,0,0,.2);box-shadow:0 0 0 rgba(44,154,219,.3),0 1px 2px rgba(0,0,0,.2)}}.button{-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.5),0 1px 2px rgba(0,0,0,.15);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.5),0 1px 2px rgba(0,0,0,.15);box-shadow:inset 0 1px 0 rgba(255,255,255,.5),0 1px 2px rgba(0,0,0,.15);background:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#fbfbfb),color-stop(100%,#e1e1e1));background:-webkit-linear-gradient(top,#fbfbfb,#e1e1e1);background:-moz-linear-gradient(top,#fbfbfb,#e1e1e1);background:-o-linear-gradient(top,#fbfbfb,#e1e1e1);background:linear-gradient(top,#fbfbfb,#e1e1e1);display:-moz-inline-stack;display:inline-block;vertical-align:middle;zoom:1;border:1px solid #d4d4d4;height:32px;line-height:32px;padding:0 25.6px;font-weight:300;font-size:inherit;font-family:"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;color:#666;text-shadow:0 1px 1px #fff;margin:0;text-decoration:none;text-align:center}.button:hover{background:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#fff),color-stop(100%,#dcdcdc));background:-webkit-linear-gradient(top,#fff,#dcdcdc);background:-moz-linear-gradient(top,#fff,#dcdcdc);background:-o-linear-gradient(top,#fff,#dcdcdc);background:linear-gradient(top,#fff,#dcdcdc)}.button:active{-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,.3),0 1px 0 #fff;-moz-box-shadow:inset 0 1px 3px rgba(0,0,0,.3),0 1px 0 #fff;box-shadow:inset 0 1px 3px rgba(0,0,0,.3),0 1px 0 #fff;text-shadow:0 1px 0 rgba(255,255,255,.4);background:#eee;color:#bbb}.button:focus{outline:0}button.button,input.button{height:34px;cursor:pointer;-webkit-appearance:none}.button-block{display:block}.button.disabled,.button.disabled:active,.button.disabled:hover,button.button:disabled,input.button:disabled{-webkit-box-shadow:0 1px 2px rgba(0,0,0,.1);-moz-box-shadow:0 1px 2px rgba(0,0,0,.1);box-shadow:0 1px 2px rgba(0,0,0,.1);filter:alpha(Opacity=80);opacity:.8;background:#EEE;border:1px solid #DDD;text-shadow:0 1px 1px #fff;color:#CCC;cursor:default;-webkit-appearance:none}.button-wrap{background:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#e3e3e3),color-stop(100%,#f2f2f2));background:-webkit-linear-gradient(top,#e3e3e3,#f2f2f2);background:-moz-linear-gradient(top,#e3e3e3,#f2f2f2);background:-o-linear-gradient(top,#e3e3e3,#f2f2f2);background:linear-gradient(top,#e3e3e3,#f2f2f2);-webkit-border-radius:200px;-moz-border-radius:200px;-ms-border-radius:200px;-o-border-radius:200px;border-radius:200px;-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,.04);-moz-box-shadow:inset 0 1px 3px rgba(0,0,0,.04);box-shadow:inset 0 1px 3px rgba(0,0,0,.04);padding:10px;display:inline-block}.button-flat{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;-webkit-transition-property:background;-moz-transition-property:background;-o-transition-property:background;transition-property:background;-webkit-transition-duration:.3s;-moz-transition-duration:.3s;-o-transition-duration:.3s;transition-duration:.3s;background:#eee;border:none;text-shadow:none}.button-flat:hover{background:#fbfbfb}.button-flat:active{-webkit-transition-duration:0s;-moz-transition-duration:0s;-o-transition-duration:0s;transition-duration:0s;background:#eee;color:#bbb}.button-flat.disabled{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;-webkit-appearance:none}.button-border{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;-webkit-transition-property:all;-moz-transition-property:all;-o-transition-property:all;transition-property:all;-webkit-transition-duration:.3s;-moz-transition-duration:.3s;-o-transition-duration:.3s;transition-duration:.3s;color:#666;border:2px solid #666;background:0 0;text-shadow:none}.button-border:hover{background:0 0;color:gray;border:2px solid gray}.button-border:active{-webkit-transition-duration:0s;-moz-transition-duration:0s;-o-transition-duration:0s;transition-duration:0s;background:0 0;color:#4d4d4d;border:2px solid #4d4d4d}.button-border.disabled{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;-webkit-appearance:none}.button-3d{-webkit-transition-property:all;-moz-transition-property:all;-o-transition-property:all;transition-property:all;-webkit-transition-duration:.3s;-moz-transition-duration:.3s;-o-transition-duration:.3s;transition-duration:.3s;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.3),inset 0 -1px 1px rgba(255,255,255,.15),0 7px 0 #bbb,0 8px 3px rgba(0,0,0,.2);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.3),inset 0 -1px 1px rgba(255,255,255,.15),0 7px 0 #bbb,0 8px 3px rgba(0,0,0,.2);box-shadow:inset 0 1px 0 rgba(255,255,255,.3),inset 0 -1px 1px rgba(255,255,255,.15),0 7px 0 #bbb,0 8px 3px rgba(0,0,0,.2);background:#eee -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#f3f3f3),color-stop(100%,#e9e9e9));background:#eee -webkit-linear-gradient(top,#f3f3f3,#e9e9e9);background:#eee -moz-linear-gradient(top,#f3f3f3,#e9e9e9);background:#eee -o-linear-gradient(top,#f3f3f3,#e9e9e9);background:#eee linear-gradient(top,#f3f3f3,#e9e9e9);color:#666;border:1px solid #e1e1e1;text-shadow:none;position:relative;top:0}.button-3d:hover{-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.3),inset 0 -1px 1px rgba(255,255,255,.15),0 7px 0 #bbb,0 8px 3px rgba(0,0,0,.2);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.3),inset 0 -1px 1px rgba(255,255,255,.15),0 7px 0 #bbb,0 8px 3px rgba(0,0,0,.2);box-shadow:inset 0 1px 0 rgba(255,255,255,.3),inset 0 -1px 1px rgba(255,255,255,.15),0 7px 0 #bbb,0 8px 3px rgba(0,0,0,.2);background:#fff -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#fff),color-stop(100%,#ebebeb));background:#fff -webkit-linear-gradient(top,#fff,#ebebeb);background:#fff -moz-linear-gradient(top,#fff,#ebebeb);background:#fff -o-linear-gradient(top,#fff,#ebebeb);background:#fff linear-gradient(top,#fff,#ebebeb)}.button-3d:active{-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.3),inset 0 -1px 1px rgba(255,255,255,.15),0 2px 0 #bbb,0 3px 3px rgba(0,0,0,.2);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.3),inset 0 -1px 1px rgba(255,255,255,.15),0 2px 0 #bbb,0 3px 3px rgba(0,0,0,.2);box-shadow:inset 0 1px 0 rgba(255,255,255,.3),inset 0 -1px 1px rgba(255,255,255,.15),0 2px 0 #bbb,0 3px 3px rgba(0,0,0,.2);background:#eee -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#e9e9e9),color-stop(100%,#f3f3f3));background:#eee -webkit-linear-gradient(top,#e9e9e9,#f3f3f3);background:#eee -moz-linear-gradient(top,#e9e9e9,#f3f3f3);background:#eee -o-linear-gradient(top,#e9e9e9,#f3f3f3);background:#eee linear-gradient(top,#e9e9e9,#f3f3f3);color:#bbb;border:1px solid #e1e1e1;top:5px}.button-3d.disabled{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;-webkit-appearance:none}.button-rounded{-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px}.button-pill{-webkit-border-radius:50px;-moz-border-radius:50px;-ms-border-radius:50px;-o-border-radius:50px;border-radius:50px}.button-circle{-webkit-border-radius:240px;-moz-border-radius:240px;-ms-border-radius:240px;-o-border-radius:240px;border-radius:240px;-webkit-box-shadow:inset 0 1px 1px rgba(255,255,255,.5),0 1px 2px rgba(0,0,0,.2);-moz-box-shadow:inset 0 1px 1px rgba(255,255,255,.5),0 1px 2px rgba(0,0,0,.2);box-shadow:inset 0 1px 1px rgba(255,255,255,.5),0 1px 2px rgba(0,0,0,.2);width:120px;line-height:120px;height:120px;padding:0;border-width:4px;font-size:inherit}.button-primary{background:#3498db -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#4aa3df),color-stop(100%,#258cd1));background:#3498db -webkit-linear-gradient(top,#4aa3df,#258cd1);background:#3498db -moz-linear-gradient(top,#4aa3df,#258cd1);background:#3498db -o-linear-gradient(top,#4aa3df,#258cd1);background:#3498db linear-gradient(top,#4aa3df,#258cd1);border-color:#217dbb;color:#fff;text-shadow:0 -1px 1px rgba(18,67,100,.35)}.button-primary:hover{background:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#5faee3),color-stop(100%,#258cd1));background:-webkit-linear-gradient(top,#5faee3,#258cd1);background:-moz-linear-gradient(top,#5faee3,#258cd1);background:-o-linear-gradient(top,#5faee3,#258cd1);background:linear-gradient(top,#5faee3,#258cd1)}.button-primary:active{background:#4c93c3;color:#196090}.button-3d-primary{-webkit-transition-property:all;-moz-transition-property:all;-o-transition-property:all;transition-property:all;-webkit-transition-duration:.3s;-moz-transition-duration:.3s;-o-transition-duration:.3s;transition-duration:.3s;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.3),inset 0 -1px 1px rgba(255,255,255,.15),0 7px 0 #217dbb,0 8px 3px rgba(0,0,0,.3);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.3),inset 0 -1px 1px rgba(255,255,255,.15),0 7px 0 #217dbb,0 8px 3px rgba(0,0,0,.3);box-shadow:inset 0 1px 0 rgba(255,255,255,.3),inset 0 -1px 1px rgba(255,255,255,.15),0 7px 0 #217dbb,0 8px 3px rgba(0,0,0,.3);background:#3498db -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#3d9cdd),color-stop(100%,#2b94d9));background:#3498db -webkit-linear-gradient(top,#3d9cdd,#2b94d9);background:#3498db -moz-linear-gradient(top,#3d9cdd,#2b94d9);background:#3498db -o-linear-gradient(top,#3d9cdd,#2b94d9);background:#3498db linear-gradient(top,#3d9cdd,#2b94d9);color:#fff;border:1px solid #217dbb;text-shadow:none;position:relative;top:0}.button-3d-primary:hover{-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.3),inset 0 -1px 1px rgba(255,255,255,.15),0 7px 0 #2077b2,0 8px 3px rgba(0,0,0,.3);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.3),inset 0 -1px 1px rgba(255,255,255,.15),0 7px 0 #2077b2,0 8px 3px rgba(0,0,0,.3);box-shadow:inset 0 1px 0 rgba(255,255,255,.3),inset 0 -1px 1px rgba(255,255,255,.15),0 7px 0 #2077b2,0 8px 3px rgba(0,0,0,.3);background:#5faee3 -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#57aae1),color-stop(100%,#3096da));background:#5faee3 -webkit-linear-gradient(top,#57aae1,#3096da);background:#5faee3 -moz-linear-gradient(top,#57aae1,#3096da);background:#5faee3 -o-linear-gradient(top,#57aae1,#3096da);background:#5faee3 linear-gradient(top,#57aae1,#3096da)}.button-3d-primary:active{-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.3),inset 0 -1px 1px rgba(255,255,255,.15),0 2px 0 #217dbb,0 3px 3px rgba(0,0,0,.3);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.3),inset 0 -1px 1px rgba(255,255,255,.15),0 2px 0 #217dbb,0 3px 3px rgba(0,0,0,.3);box-shadow:inset 0 1px 0 rgba(255,255,255,.3),inset 0 -1px 1px rgba(255,255,255,.15),0 2px 0 #217dbb,0 3px 3px rgba(0,0,0,.3);background:#4c93c3 -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#2b94d9),color-stop(100%,#3d9cdd));background:#4c93c3 -webkit-linear-gradient(top,#2b94d9,#3d9cdd);background:#4c93c3 -moz-linear-gradient(top,#2b94d9,#3d9cdd);background:#4c93c3 -o-linear-gradient(top,#2b94d9,#3d9cdd);background:#4c93c3 linear-gradient(top,#2b94d9,#3d9cdd);color:#196090;border:1px solid #258cd1;top:5px}.button-3d-primary.disabled{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;-webkit-appearance:none}.button-border-primary{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;-webkit-transition-property:all;-moz-transition-property:all;-o-transition-property:all;transition-property:all;-webkit-transition-duration:.3s;-moz-transition-duration:.3s;-o-transition-duration:.3s;transition-duration:.3s;color:#3498db;border:2px solid #3498db;background:0 0;text-shadow:none}.button-border-primary:hover{background:0 0;color:#5faee3;border:2px solid #5faee3}.button-border-primary:active{-webkit-transition-duration:0s;-moz-transition-duration:0s;-o-transition-duration:0s;transition-duration:0s;background:0 0;color:#217dbb;border:2px solid #217dbb}.button-border-primary.disabled{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;-webkit-appearance:none}.button-flat-primary{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;-webkit-transition-property:background;-moz-transition-property:background;-o-transition-property:background;transition-property:background;-webkit-transition-duration:.3s;-moz-transition-duration:.3s;-o-transition-duration:.3s;transition-duration:.3s;background:#3498db;color:#fff;text-shadow:none;border:none}.button-flat-primary:hover{background:#4aa3df}.button-flat-primary:active{-webkit-transition-duration:0s;-moz-transition-duration:0s;-o-transition-duration:0s;transition-duration:0s;background:#4c93c3;color:#1d6fa5}.button-flat-primary.disabled{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;-webkit-appearance:none}.button-action{background:#7db500 -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#8fcf00),color-stop(100%,#6b9c00));background:#7db500 -webkit-linear-gradient(top,#8fcf00,#6b9c00);background:#7db500 -moz-linear-gradient(top,#8fcf00,#6b9c00);background:#7db500 -o-linear-gradient(top,#8fcf00,#6b9c00);background:#7db500 linear-gradient(top,#8fcf00,#6b9c00);border-color:#5a8200;color:#fff;text-shadow:0 -1px 1px rgba(19,28,0,.35)}.button-action:hover{background:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#a0e800),color-stop(100%,#6b9c00));background:-webkit-linear-gradient(top,#a0e800,#6b9c00);background:-moz-linear-gradient(top,#a0e800,#6b9c00);background:-o-linear-gradient(top,#a0e800,#6b9c00);background:linear-gradient(top,#a0e800,#6b9c00)}.button-action:active{background:#76a312;color:#374f00}.button-3d-action{-webkit-transition-property:all;-moz-transition-property:all;-o-transition-property:all;transition-property:all;-webkit-transition-duration:.3s;-moz-transition-duration:.3s;-o-transition-duration:.3s;transition-duration:.3s;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.3),inset 0 -1px 1px rgba(255,255,255,.15),0 7px 0 #5a8200,0 8px 3px rgba(0,0,0,.3);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.3),inset 0 -1px 1px rgba(255,255,255,.15),0 7px 0 #5a8200,0 8px 3px rgba(0,0,0,.3);box-shadow:inset 0 1px 0 rgba(255,255,255,.3),inset 0 -1px 1px rgba(255,255,255,.15),0 7px 0 #5a8200,0 8px 3px rgba(0,0,0,.3);background:#7db500 -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#84bf00),color-stop(100%,#76ab00));background:#7db500 -webkit-linear-gradient(top,#84bf00,#76ab00);background:#7db500 -moz-linear-gradient(top,#84bf00,#76ab00);background:#7db500 -o-linear-gradient(top,#84bf00,#76ab00);background:#7db500 linear-gradient(top,#84bf00,#76ab00);color:#fff;border:1px solid #5a8200;text-shadow:none;position:relative;top:0}.button-3d-action:hover{-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.3),inset 0 -1px 1px rgba(255,255,255,.15),0 7px 0 #537800,0 8px 3px rgba(0,0,0,.3);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.3),inset 0 -1px 1px rgba(255,255,255,.15),0 7px 0 #537800,0 8px 3px rgba(0,0,0,.3);box-shadow:inset 0 1px 0 rgba(255,255,255,.3),inset 0 -1px 1px rgba(255,255,255,.15),0 7px 0 #537800,0 8px 3px rgba(0,0,0,.3);background:#a0e800 -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#99de00),color-stop(100%,#79b000));background:#a0e800 -webkit-linear-gradient(top,#99de00,#79b000);background:#a0e800 -moz-linear-gradient(top,#99de00,#79b000);background:#a0e800 -o-linear-gradient(top,#99de00,#79b000);background:#a0e800 linear-gradient(top,#99de00,#79b000)}.button-3d-action:active{-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.3),inset 0 -1px 1px rgba(255,255,255,.15),0 2px 0 #5a8200,0 3px 3px rgba(0,0,0,.3);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.3),inset 0 -1px 1px rgba(255,255,255,.15),0 2px 0 #5a8200,0 3px 3px rgba(0,0,0,.3);box-shadow:inset 0 1px 0 rgba(255,255,255,.3),inset 0 -1px 1px rgba(255,255,255,.15),0 2px 0 #5a8200,0 3px 3px rgba(0,0,0,.3);background:#76a312 -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#76ab00),color-stop(100%,#84bf00));background:#76a312 -webkit-linear-gradient(top,#76ab00,#84bf00);background:#76a312 -moz-linear-gradient(top,#76ab00,#84bf00);background:#76a312 -o-linear-gradient(top,#76ab00,#84bf00);background:#76a312 linear-gradient(top,#76ab00,#84bf00);color:#374f00;border:1px solid #6b9c00;top:5px}.button-3d-action.disabled{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;-webkit-appearance:none}.button-border-action{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;-webkit-transition-property:all;-moz-transition-property:all;-o-transition-property:all;transition-property:all;-webkit-transition-duration:.3s;-moz-transition-duration:.3s;-o-transition-duration:.3s;transition-duration:.3s;color:#7db500;border:2px solid #7db500;background:0 0;text-shadow:none}.button-border-action:hover{background:0 0;color:#a0e800;border:2px solid #a0e800}.button-border-action:active{-webkit-transition-duration:0s;-moz-transition-duration:0s;-o-transition-duration:0s;transition-duration:0s;background:0 0;color:#5a8200;border:2px solid #5a8200}.button-border-action.disabled{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;-webkit-appearance:none}.button-flat-action{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;-webkit-transition-property:background;-moz-transition-property:background;-o-transition-property:background;transition-property:background;-webkit-transition-duration:.3s;-moz-transition-duration:.3s;-o-transition-duration:.3s;transition-duration:.3s;background:#7db500;color:#fff;text-shadow:none;border:none}.button-flat-action:hover{background:#8fcf00}.button-flat-action:active{-webkit-transition-duration:0s;-moz-transition-duration:0s;-o-transition-duration:0s;transition-duration:0s;background:#76a312;color:#486900}.button-flat-action.disabled{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;-webkit-appearance:none}.button-highlight{background:#f18d05 -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#fa9915),color-stop(100%,#d87e04));background:#f18d05 -webkit-linear-gradient(top,#fa9915,#d87e04);background:#f18d05 -moz-linear-gradient(top,#fa9915,#d87e04);background:#f18d05 -o-linear-gradient(top,#fa9915,#d87e04);background:#f18d05 linear-gradient(top,#fa9915,#d87e04);border-color:#bf7004;color:#fff;text-shadow:0 -1px 1px rgba(91,53,2,.35)}.button-highlight:hover{background:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#fba42e),color-stop(100%,#d87e04));background:-webkit-linear-gradient(top,#fba42e,#d87e04);background:-moz-linear-gradient(top,#fba42e,#d87e04);background:-o-linear-gradient(top,#fba42e,#d87e04);background:linear-gradient(top,#fba42e,#d87e04)}.button-highlight:active{background:#d8891e;color:#8d5303}.button-3d-highlight{-webkit-transition-property:all;-moz-transition-property:all;-o-transition-property:all;transition-property:all;-webkit-transition-duration:.3s;-moz-transition-duration:.3s;-o-transition-duration:.3s;transition-duration:.3s;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.3),inset 0 -1px 1px rgba(255,255,255,.15),0 7px 0 #bf7004,0 8px 3px rgba(0,0,0,.3);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.3),inset 0 -1px 1px rgba(255,255,255,.15),0 7px 0 #bf7004,0 8px 3px rgba(0,0,0,.3);box-shadow:inset 0 1px 0 rgba(255,255,255,.3),inset 0 -1px 1px rgba(255,255,255,.15),0 7px 0 #bf7004,0 8px 3px rgba(0,0,0,.3);background:#f18d05 -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#fa9306),color-stop(100%,#e78705));background:#f18d05 -webkit-linear-gradient(top,#fa9306,#e78705);background:#f18d05 -moz-linear-gradient(top,#fa9306,#e78705);background:#f18d05 -o-linear-gradient(top,#fa9306,#e78705);background:#f18d05 linear-gradient(top,#fa9306,#e78705);color:#fff;border:1px solid #bf7004;text-shadow:none;position:relative;top:0}.button-3d-highlight:hover{-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.3),inset 0 -1px 1px rgba(255,255,255,.15),0 7px 0 #b56a04,0 8px 3px rgba(0,0,0,.3);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.3),inset 0 -1px 1px rgba(255,255,255,.15),0 7px 0 #b56a04,0 8px 3px rgba(0,0,0,.3);box-shadow:inset 0 1px 0 rgba(255,255,255,.3),inset 0 -1px 1px rgba(255,255,255,.15),0 7px 0 #b56a04,0 8px 3px rgba(0,0,0,.3);background:#fba42e -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#faa024),color-stop(100%,#ec8a05));background:#fba42e -webkit-linear-gradient(top,#faa024,#ec8a05);background:#fba42e -moz-linear-gradient(top,#faa024,#ec8a05);background:#fba42e -o-linear-gradient(top,#faa024,#ec8a05);background:#fba42e linear-gradient(top,#faa024,#ec8a05)}.button-3d-highlight:active{-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.3),inset 0 -1px 1px rgba(255,255,255,.15),0 2px 0 #bf7004,0 3px 3px rgba(0,0,0,.3);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.3),inset 0 -1px 1px rgba(255,255,255,.15),0 2px 0 #bf7004,0 3px 3px rgba(0,0,0,.3);box-shadow:inset 0 1px 0 rgba(255,255,255,.3),inset 0 -1px 1px rgba(255,255,255,.15),0 2px 0 #bf7004,0 3px 3px rgba(0,0,0,.3);background:#d8891e -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#e78705),color-stop(100%,#fa9306));background:#d8891e -webkit-linear-gradient(top,#e78705,#fa9306);background:#d8891e -moz-linear-gradient(top,#e78705,#fa9306);background:#d8891e -o-linear-gradient(top,#e78705,#fa9306);background:#d8891e linear-gradient(top,#e78705,#fa9306);color:#8d5303;border:1px solid #d87e04;top:5px}.button-3d-highlight.disabled{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;-webkit-appearance:none}.button-border-highlight{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;-webkit-transition-property:all;-moz-transition-property:all;-o-transition-property:all;transition-property:all;-webkit-transition-duration:.3s;-moz-transition-duration:.3s;-o-transition-duration:.3s;transition-duration:.3s;color:#f18d05;border:2px solid #f18d05;background:0 0;text-shadow:none}.button-border-highlight:hover{background:0 0;color:#fba42e;border:2px solid #fba42e}.button-border-highlight:active{-webkit-transition-duration:0s;-moz-transition-duration:0s;-o-transition-duration:0s;transition-duration:0s;background:0 0;color:#bf7004;border:2px solid #bf7004}.button-border-highlight.disabled{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;-webkit-appearance:none}.button-flat-highlight{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;-webkit-transition-property:background;-moz-transition-property:background;-o-transition-property:background;transition-property:background;-webkit-transition-duration:.3s;-moz-transition-duration:.3s;-o-transition-duration:.3s;transition-duration:.3s;background:#f18d05;color:#fff;text-shadow:none;border:none}.button-flat-highlight:hover{background:#fa9915}.button-flat-highlight:active{-webkit-transition-duration:0s;-moz-transition-duration:0s;-o-transition-duration:0s;transition-duration:0s;background:#d8891e;color:#a66103}.button-flat-highlight.disabled{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;-webkit-appearance:none}.button-caution{background:#e54028 -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#e8543f),color-stop(100%,#d9331a));background:#e54028 -webkit-linear-gradient(top,#e8543f,#d9331a);background:#e54028 -moz-linear-gradient(top,#e8543f,#d9331a);background:#e54028 -o-linear-gradient(top,#e8543f,#d9331a);background:#e54028 linear-gradient(top,#e8543f,#d9331a);border-color:#c22d18;color:#fff;text-shadow:0 -1px 1px rgba(103,24,13,.35)}.button-caution:hover{background:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#eb6855),color-stop(100%,#d9331a));background:-webkit-linear-gradient(top,#eb6855,#d9331a);background:-moz-linear-gradient(top,#eb6855,#d9331a);background:-o-linear-gradient(top,#eb6855,#d9331a);background:linear-gradient(top,#eb6855,#d9331a)}.button-caution:active{background:#cd5240;color:#952312}.button-3d-caution{-webkit-transition-property:all;-moz-transition-property:all;-o-transition-property:all;transition-property:all;-webkit-transition-duration:.3s;-moz-transition-duration:.3s;-o-transition-duration:.3s;transition-duration:.3s;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.3),inset 0 -1px 1px rgba(255,255,255,.15),0 7px 0 #c22d18,0 8px 3px rgba(0,0,0,.3);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.3),inset 0 -1px 1px rgba(255,255,255,.15),0 7px 0 #c22d18,0 8px 3px rgba(0,0,0,.3);box-shadow:inset 0 1px 0 rgba(255,255,255,.3),inset 0 -1px 1px rgba(255,255,255,.15),0 7px 0 #c22d18,0 8px 3px rgba(0,0,0,.3);background:#e54028 -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#e64831),color-stop(100%,#e4381f));background:#e54028 -webkit-linear-gradient(top,#e64831,#e4381f);background:#e54028 -moz-linear-gradient(top,#e64831,#e4381f);background:#e54028 -o-linear-gradient(top,#e64831,#e4381f);background:#e54028 linear-gradient(top,#e64831,#e4381f);color:#fff;border:1px solid #c22d18;text-shadow:none;position:relative;top:0}.button-3d-caution:hover{-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.3),inset 0 -1px 1px rgba(255,255,255,.15),0 7px 0 #b92b16,0 8px 3px rgba(0,0,0,.3);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.3),inset 0 -1px 1px rgba(255,255,255,.15),0 7px 0 #b92b16,0 8px 3px rgba(0,0,0,.3);box-shadow:inset 0 1px 0 rgba(255,255,255,.3),inset 0 -1px 1px rgba(255,255,255,.15),0 7px 0 #b92b16,0 8px 3px rgba(0,0,0,.3);background:#eb6855 -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#e9604c),color-stop(100%,#e43c23));background:#eb6855 -webkit-linear-gradient(top,#e9604c,#e43c23);background:#eb6855 -moz-linear-gradient(top,#e9604c,#e43c23);background:#eb6855 -o-linear-gradient(top,#e9604c,#e43c23);background:#eb6855 linear-gradient(top,#e9604c,#e43c23)}.button-3d-caution:active{-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.3),inset 0 -1px 1px rgba(255,255,255,.15),0 2px 0 #c22d18,0 3px 3px rgba(0,0,0,.3);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.3),inset 0 -1px 1px rgba(255,255,255,.15),0 2px 0 #c22d18,0 3px 3px rgba(0,0,0,.3);box-shadow:inset 0 1px 0 rgba(255,255,255,.3),inset 0 -1px 1px rgba(255,255,255,.15),0 2px 0 #c22d18,0 3px 3px rgba(0,0,0,.3);background:#cd5240 -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#e4381f),color-stop(100%,#e64831));background:#cd5240 -webkit-linear-gradient(top,#e4381f,#e64831);background:#cd5240 -moz-linear-gradient(top,#e4381f,#e64831);background:#cd5240 -o-linear-gradient(top,#e4381f,#e64831);background:#cd5240 linear-gradient(top,#e4381f,#e64831);color:#952312;border:1px solid #d9331a;top:5px}.button-3d-caution.disabled{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;-webkit-appearance:none}.button-border-caution{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;-webkit-transition-property:all;-moz-transition-property:all;-o-transition-property:all;transition-property:all;-webkit-transition-duration:.3s;-moz-transition-duration:.3s;-o-transition-duration:.3s;transition-duration:.3s;color:#e54028;border:2px solid #e54028;background:0 0;text-shadow:none}.button-border-caution:hover{background:0 0;color:#eb6855;border:2px solid #eb6855}.button-border-caution:active{-webkit-transition-duration:0s;-moz-transition-duration:0s;-o-transition-duration:0s;transition-duration:0s;background:0 0;color:#c22d18;border:2px solid #c22d18}.button-border-caution.disabled{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;-webkit-appearance:none}.button-flat-caution{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;-webkit-transition-property:background;-moz-transition-property:background;-o-transition-property:background;transition-property:background;-webkit-transition-duration:.3s;-moz-transition-duration:.3s;-o-transition-duration:.3s;transition-duration:.3s;background:#e54028;color:#fff;text-shadow:none;border:none}.button-flat-caution:hover{background:#e8543f}.button-flat-caution:active{-webkit-transition-duration:0s;-moz-transition-duration:0s;-o-transition-duration:0s;transition-duration:0s;background:#cd5240;color:#ac2815}.button-flat-caution.disabled{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;-webkit-appearance:none}.button-royal{background:#87318c -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#99389f),color-stop(100%,#752a79));background:#87318c -webkit-linear-gradient(top,#99389f,#752a79);background:#87318c -moz-linear-gradient(top,#99389f,#752a79);background:#87318c -o-linear-gradient(top,#99389f,#752a79);background:#87318c linear-gradient(top,#99389f,#752a79);border-color:#632466;color:#fff;text-shadow:0 -1px 1px rgba(26,9,27,.35)}.button-royal:hover{background:-webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#ab3eb2),color-stop(100%,#752a79));background:-webkit-linear-gradient(top,#ab3eb2,#752a79);background:-moz-linear-gradient(top,#ab3eb2,#752a79);background:-o-linear-gradient(top,#ab3eb2,#752a79);background:linear-gradient(top,#ab3eb2,#752a79)}.button-royal:active{background:#764479;color:#3e1740}.button-3d-royal{-webkit-transition-property:all;-moz-transition-property:all;-o-transition-property:all;transition-property:all;-webkit-transition-duration:.3s;-moz-transition-duration:.3s;-o-transition-duration:.3s;transition-duration:.3s;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.3),inset 0 -1px 1px rgba(255,255,255,.15),0 7px 0 #632466,0 8px 3px rgba(0,0,0,.3);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.3),inset 0 -1px 1px rgba(255,255,255,.15),0 7px 0 #632466,0 8px 3px rgba(0,0,0,.3);box-shadow:inset 0 1px 0 rgba(255,255,255,.3),inset 0 -1px 1px rgba(255,255,255,.15),0 7px 0 #632466,0 8px 3px rgba(0,0,0,.3);background:#87318c -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#8e3494),color-stop(100%,#802e84));background:#87318c -webkit-linear-gradient(top,#8e3494,#802e84);background:#87318c -moz-linear-gradient(top,#8e3494,#802e84);background:#87318c -o-linear-gradient(top,#8e3494,#802e84);background:#87318c linear-gradient(top,#8e3494,#802e84);color:#fff;border:1px solid #632466;text-shadow:none;position:relative;top:0}.button-3d-royal:hover{-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.3),inset 0 -1px 1px rgba(255,255,255,.15),0 7px 0 #5b215f,0 8px 3px rgba(0,0,0,.3);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.3),inset 0 -1px 1px rgba(255,255,255,.15),0 7px 0 #5b215f,0 8px 3px rgba(0,0,0,.3);box-shadow:inset 0 1px 0 rgba(255,255,255,.3),inset 0 -1px 1px rgba(255,255,255,.15),0 7px 0 #5b215f,0 8px 3px rgba(0,0,0,.3);background:#ab3eb2 -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#a43caa),color-stop(100%,#833088));background:#ab3eb2 -webkit-linear-gradient(top,#a43caa,#833088);background:#ab3eb2 -moz-linear-gradient(top,#a43caa,#833088);background:#ab3eb2 -o-linear-gradient(top,#a43caa,#833088);background:#ab3eb2 linear-gradient(top,#a43caa,#833088)}.button-3d-royal:active{-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.3),inset 0 -1px 1px rgba(255,255,255,.15),0 2px 0 #632466,0 3px 3px rgba(0,0,0,.3);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.3),inset 0 -1px 1px rgba(255,255,255,.15),0 2px 0 #632466,0 3px 3px rgba(0,0,0,.3);box-shadow:inset 0 1px 0 rgba(255,255,255,.3),inset 0 -1px 1px rgba(255,255,255,.15),0 2px 0 #632466,0 3px 3px rgba(0,0,0,.3);background:#764479 -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#802e84),color-stop(100%,#8e3494));background:#764479 -webkit-linear-gradient(top,#802e84,#8e3494);background:#764479 -moz-linear-gradient(top,#802e84,#8e3494);background:#764479 -o-linear-gradient(top,#802e84,#8e3494);background:#764479 linear-gradient(top,#802e84,#8e3494);color:#3e1740;border:1px solid #752a79;top:5px}.button-3d-royal.disabled{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;-webkit-appearance:none}.button-border-royal{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;-webkit-transition-property:all;-moz-transition-property:all;-o-transition-property:all;transition-property:all;-webkit-transition-duration:.3s;-moz-transition-duration:.3s;-o-transition-duration:.3s;transition-duration:.3s;color:#87318c;border:2px solid #87318c;background:0 0;text-shadow:none}.button-border-royal:hover{background:0 0;color:#ab3eb2;border:2px solid #ab3eb2}.button-border-royal:active{-webkit-transition-duration:0s;-moz-transition-duration:0s;-o-transition-duration:0s;transition-duration:0s;background:0 0;color:#632466;border:2px solid #632466}.button-border-royal.disabled{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;-webkit-appearance:none}.button-flat-royal{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;-webkit-transition-property:background;-moz-transition-property:background;-o-transition-property:background;transition-property:background;-webkit-transition-duration:.3s;-moz-transition-duration:.3s;-o-transition-duration:.3s;transition-duration:.3s;background:#87318c;color:#fff;text-shadow:none;border:none}.button-flat-royal:hover{background:#99389f}.button-flat-royal:active{-webkit-transition-duration:0s;-moz-transition-duration:0s;-o-transition-duration:0s;transition-duration:0s;background:#764479;color:#501d53}.button-flat-royal.disabled{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;-webkit-appearance:none}.button-jumbo{font-size:inherit5;height:51.2px;line-height:51.2px;padding:0 40.96px}.button-large{font-size:inherit;height:38.4px;line-height:38.4px;padding:0 30.72px}button.button-large,input.button-large{height:40.4px}.button-small{font-size:inherit;height:25.6px;line-height:25.6px;padding:0 20.48px}button.button-small,input.button-small{height:27.6px}.button-tiny{font-size:inherit;height:22.4px;line-height:22.4px;padding:0 17.92px}button.button-tiny,input.button-tiny{height:24.4px}.button.glow{-webkit-animation-duration:3s;-moz-animation-duration:3s;-ms-animation-duration:3s;-o-animation-duration:3s;animation-duration:3s;-webkit-animation-iteration-count:infinite;-khtml-animation-iteration-count:infinite;-moz-animation-iteration-count:infinite;-ms-animation-iteration-count:infinite;-o-animation-iteration-count:infinite;animation-iteration-count:infinite;-webkit-animation-name:glowing;-khtml-animation-name:glowing;-moz-animation-name:glowing;-ms-animation-name:glowing;-o-animation-name:glowing;animation-name:glowing}.button.glow:active{-webkit-animation-name:none;-moz-animation-name:none;-ms-animation-name:none;-o-animation-name:none;animation-name:none;-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,.3),0 1px 0 #fff;-moz-box-shadow:inset 0 1px 3px rgba(0,0,0,.3),0 1px 0 #fff;box-shadow:inset 0 1px 3px rgba(0,0,0,.3),0 1px 0 #fff}.button-dropdown{position:relative;overflow:visible;display:inline-block}.button-dropdown .button .icon-caret-down{font-size:90%;margin:0 0 0 3px;vertical-align:middle}.button-dropdown ul.button-dropdown-menu-below{top:115%}.button-dropdown ul.button-dropdown-menu-above{bottom:115%;top:auto}.button-dropdown ul{-webkit-box-shadow:0 3px 6px rgba(0,0,0,.6);-moz-box-shadow:0 3px 6px rgba(0,0,0,.6);box-shadow:0 3px 6px rgba(0,0,0,.6);-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;display:none;position:absolute;background:#fcfcfc;top:-2px;left:-2px;z-index:1000;padding:0;margin:0;list-style-type:none;min-width:102%}.button-dropdown ul li{padding:0;margin:0;display:block}.button-dropdown ul li:first-child a{-moz-border-radius-topleft:3px;-webkit-border-top-left-radius:3px;border-top-left-radius:3px;-moz-border-radius-topright:3px;-webkit-border-top-right-radius:3px;border-top-right-radius:3px}.button-dropdown ul li:last-child a{-moz-border-radius-bottomleft:3px;-webkit-border-bottom-left-radius:3px;border-bottom-left-radius:3px;-moz-border-radius-bottomright:3px;-webkit-border-bottom-right-radius:3px;border-bottom-right-radius:3px}.button-dropdown ul .button-dropdown-divider{-webkit-box-shadow:inset 0 1px 0 #fff;-moz-box-shadow:inset 0 1px 0 #fff;box-shadow:inset 0 1px 0 #fff;border-top:1px solid #e4e4e4}.button-dropdown ul a{display:block;padding:0 20px;text-decoration:none;font-size:inherit;color:#333;line-height:30px;white-space:nowrap}.button-dropdown ul a:hover{background-color:#3c6ab9;color:#fff}
/* End buttons lib */
